:root {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.wheel {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  position: absolute;
  top: 15%;
  left: 25%;
  border-radius: 50%;
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.rim {
  width: 50%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
}

.rim:nth-of-type(1) {
  transform: rotate(30deg);
}

.rim:nth-of-type(2) {
  transform: rotate(60deg);
}

.rim:nth-of-type(3) {
  transform: rotate(90deg);
}

.rim:nth-of-type(4) {
  transform: rotate(120deg);
}

.rim:nth-of-type(5) {
  transform: rotate(150deg);
}

.rim:nth-of-type(6) {
  transform: rotate(180deg);
}

.rim:nth-of-type(7) {
  transform: rotate(210deg);
}

.rim:nth-of-type(8) {
  transform: rotate(240deg);
}

.rim:nth-of-type(9) {
  transform: rotate(270deg);
}

.rim:nth-of-type(10) {
  transform: rotate(300deg);
}

.rim:nth-of-type(11) {
  transform: rotate(330deg);
}

.rim:nth-of-type(12) {
  transform: rotate(360deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    background-color: blueviolet;
  }

  50% {
    background-color: brown;
    /* transform: rotate(-270deg); */
    translate: 300px;
  }
  100% {
    translate: -300px;
    /* transform: rotate(360deg); */
  }
  /* from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  } */
}
